<!DOCTYPE html>
<html>
  <head>
    <title>Cycle2save</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <%= link_to href= rel="stylesheet" %> -->
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Roboto:300", media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render "layouts/navigation" %>
      <%= yield %>
    </div>
  </body>
</html>
